<div id="progressBar"></div>
<div id="progressBarContainer"></div>

<p id="myDiv" text="Fetching response...">
  Fetching Response...
</p>

<div class="progress">
  <div class="progress-value"></div>
</div>

<div id="main">
<pre>
  {{#each headers ~}}
    <strong>{{this.name~}}</strong>
    {{~this.content}}
  {{/each}}
</pre>

<pre>
  {{~#each resheaders ~}}
    <strong>{{this.name~}}</strong>
    {{~this.content}}
  {{/each}}
</pre>

<pre>
{{#if httpRes.status}}
<strong class="successRes">{{httpRes.name~}} {{~httpRes.content}} ✅</strong>
{{else}}
<strong class="failRes">{{httpRes.name~}} {{~httpRes.content}} ❌</strong>
{{/if}}
</pre>

<div class="code">
<pre><code>
<pre>
{
  {{#each data}}
  {{#if this.isProject}}
  <span class="key"><span class="delimiter">"</span><span class="content">{{this.key}}</span><span class="delimiter">"</span></span>: [
    {{#each this.string}}
    {     
      <span class="key"><span class="delimiter">"</span><span class="content">name</span><span class="delimiter">"</span></span> : <span class="string"><span class="delimiter">"</span><span class="content">{{this.name}}</span><span class="delimiter">"</span></span>,
      <span class="key"><span class="delimiter">"</span><span class="content">description</span><span class="delimiter">"</span></span> : <span class="string"><span class="delimiter">"</span><span class="content">{{this.description}}</span><span class="delimiter">"</span></span>,
      <span class="key"><span class="delimiter">"</span><span class="content">technology</span><span class="delimiter">"</span></span> : <span class="string"><span class="delimiter">"</span><span class="content">{{this.technology}}</span><span class="delimiter">"</span></span>,
      <span class="key"><span class="delimiter">"</span><span class="content">live</span><span class="delimiter">"</span></span> : <span class="string"><span class="delimiter">"</span><span class="content"><a href={{this.live}}  target="_blank">{{this.live}}</a></span><span class="delimiter">"</span></span>,
      <span class="key"><span class="delimiter">"</span><span class="content">github</span><span class="delimiter">"</span></span> : <span class="string"><span class="delimiter">"</span><span class="content"><a href={{this.github}}  target="_blank">{{this.github}}</a></span><span class="delimiter">"</span></span>,
    },
    {{/each}}
  ]
  {{/if}}
  {{#if this.isArray}}
    {{#if this.isObject}}        
      {{#if this.isLink}}
      {{#unless this.isProject}}
  <span class="key"><span class="delimiter">"</span><span class="content">{{this.key}}</span><span class="delimiter">"</span></span>: [
    {{#each this.string}}
    {     
      <span class="key"><span class="delimiter">"</span><span class="content">network</span><span class="delimiter">"</span></span> : <span class="string"><span class="delimiter">"</span><span class="content">{{this.network}}</span><span class="delimiter">"</span></span>,
      <span class="key"><span class="delimiter">"</span><span class="content">link</span><span class="delimiter">"</span></span> : <span class="string"><span class="delimiter">"</span><span class="content"><a href={{this.link}}  target="_blank">{{this.link}}</a></span><span class="delimiter">"</span></span>,
    },
    {{/each}}
  ]
  {{/unless}}
      {{/if}}
    {{/if}}
  {{/if}}
  {{#if this.isArray}}
    {{#if this.isLink}}
      {{#unless this.isObject}}
  <span class="key"><span class="delimiter">"</span><span class="content">{{this.key}}</span><span class="delimiter">"</span></span>: [
      {{#each this.string}}
    <span class="key"><span class="delimiter">"</span><span class="content"><a href={{this}} >{{this}}</a></span><span class="delimiter">"</span></span>,
      {{/each}}
  ],
      {{/unless}}
    {{/if}}
  {{#if this.isArray}}
  {{#unless this.isLink}}
  {{#unless this.isObject}}
  <span class="key"><span class="delimiter">"</span><span class="content">{{this.key}}</span><span class="delimiter">"</span></span>: [
  {{#each this.string}}
    <span class="string space"><span class="delimiter">"</span><span class="content">{{this}}</span><span class="delimiter">"</span></span>,
  {{/each}}
  ],
  {{/unless}}
  {{/unless}}
  {{/if}}
  {{/if}}
  {{#unless this.isArray}}
  {{#unless this.isObject}}
  <span class="key"><span class="delimiter">"</span><span class="content">{{this.key}}</span><span class="delimiter">"</span></span>: <span class="string"><span class="delimiter">"</span><span class="content">{{this.string}}</span><span class="delimiter">"</span></span>,
  {{/unless}}
  {{/unless}}
  {{/each}}
}
</pre>
</code></pre>
</div>
</div>

<script type="text/javascript">
let myDiv = document.getElementById("myDiv");
let progress = document.querySelector(".progress");
let myBody = document.getElementById("main");

const progressBar = document.querySelector("#progressBar");
let totalPageHeight = document.body.scrollHeight - window.innerHeight;
window.onscroll = () => {
  let newProgressHeight = (window.pageYOffset / totalPageHeight) * 100;
  progressBar.style.height = `${newProgressHeight}%`;
  progressBar.style.opacity = `${newProgressHeight}%`;
};

if(window.location.pathname=="/" && !(document.referrer.includes("/about") || document.referrer.includes("/projects") || document.referrer.includes("/interests") || document.referrer.includes("/work") || document.referrer.includes("/contact"))) {
  (function(){
    

      showLoading = function(){
        myDiv.style.display = "block";
        myBody.style.display = "none";
        setTimeout(hideLoading, 3000); 
      },

      hideLoading = function(){
        myDiv.style.display = "none";
        progress.style.display = "none";
        myBody.style.display = "block";
      };
      
        showLoading();
      
  })();
    } else {
      myDiv.style.display = "none";
      progress.style.display = "none";
    }
</script>